{% extends "baselayout.html" %}

{% block nav %}
    <div class="container-fluid bg-success">
      <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <a class="navbar-brand" href="/"><i class="far fa-hand-paper"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            {% if "ilmoittautumiset" in request.path %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{{url_for('ilmoittautumiset_index')}}">Ilmoittautumiset</a>
            </li>
            {% if "henkilotiedot" in request.path %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="{{url_for('henkilotiedot_index')}}">Henkilötiedot</a>
            </li>
            {% if "kalenteri" in request.path %}
              <li class="nav-item active">
            {% else %}
              <li class="nav-item">
            {% endif %}
              <a class="nav-link" href="/kalenteri">Kalenteri</a>
            </li>
            {% if current_user.toimihenkilo %}
              {% if "jasenet" in request.path %}
                <li class="nav-item active">
              {% else %}
                <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="{{ url_for('jasenet_index') }}">Jäsenet</a>
              </li>
              {% if "ryhmat" in request.path %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item">
              {% endif %}
                <a class="nav-link" href="{{url_for('ryhmat_index')}}">Ryhmät</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="/tilasto">Tilasto</a>
              </li>
            {% endif %}
          </ul>
          <a href="{{url_for("auth_logout")}}" class="btn btn-light" role="button"><i class="fas fa-sign-out-alt"></i> Kirjaudu ulos</a>
        </div>
      </nav>
    </div>
<div class="container text-success">
  {{current_user.etunimi}} {{current_user.sukunimi}}
</div>

{% endblock %}
