{% extends "jasenet/layout.html" %}

{% block intab %}

<form action="{{url_for('jasenet_linkita_huollettava',huoltaja_id=jasen.id)}}" method="post">
<div class="form-group row" style="margin-top: 1ex;">
 <div class="col-sm-6">
  <select class="chosen-select" data-placeholder="Valitse huollettava" name="linkita">
    <option></option>
    {% for lapsi in lapset %}
      <option value="{{lapsi.id}}">
        {{lapsi.sukunimi}} {{lapsi.etunimi}}
      </option>
    {% endfor %}
  </select>
  </div>
  <div class="col-sm-6">
  <input type="submit"  class="btn btn-outline-primary btn-sm" value="Linkitä huollettavaksi"/>
  </form>
  <a href="{{url_for('jasenet_uusi_huollettava', huoltaja_id=jasen.id)}}" class="btn btn-outline-primary btn-sm"><i class="fas fa-user-plus"></i> Lisää uusi henkilö</a>
  </div>
</div>

<h2>Huollettavat</h2>

<ul>

{% for lapsi in jasen.huollettavat %}

  <li>
    <form action="{{url_for('jasenet_poista_huoltajuus')}}" method="POST">
    <a href="{{url_for('jasenet_tiedot',henkilo_id=lapsi.id)}}">
      {{lapsi.sukunimi}} {{lapsi.etunimi}}
    </a>
    <input type="hidden" name="huoltaja" value="{{jasen.id}}"/>
    <input type="hidden" name="huollettava" value="{{lapsi.id}}"/>
    <input type="hidden" name="jatka" value="huoltaja"/>
    <button type="submit" class="btn btn-outline-danger btn-sm">
      <i class="fas fa-unlink"></i> Poista huoltajuus
    </button>

  </li>

{% endfor %}


</ul>

{% endblock %}
