{% extends "layout.html" %}

{% block body %}

<!-- Salasananvaihto toteutetaan Bootstrapin modal-dialogilla
    (jota on pikkasen tuunattu javascriptillä, jotta voidaan vaihtaa myös huollettavien salasanat) -->

<form method="POST" id="salaform" action="{{url_for('henkilotiedot_vaihda_salasana')}}">
<input type="hidden" name="henkiloid" id="salaid" />
<input type="hidden" name="username" autocomplete="username" id="salauser"/>
  <div class="modal fade" id="salamodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Salasanan vaihtaminen</h5>
        </div>
        <div class="modal-body">
            <label for="salasana">Anna uusi salasana käyttäjälle <span id="salanimi" class="font-weight-bold"></span></label>
            <input type="password" name="salasana" class="form-control"  id="eka" autocomplete="new-password"></input>

            <label for="salasana2">Anna sama salasana uudelleen</label>
            <input type="password" name="salasana2" class="form-control" id="toka" autocomplete="new-password"></input>
            <div id="viesti" class="text-danger"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="$('#salamodal').modal('hide')">Peruuta</button>
            <button type="submit" class="btn btn-primary" disabled id="nappi"><i class="fas fa-key"></i>  Vaihda salasana</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Modal toisen huoltajan lisäämiseen -->

{% if current_user.aikuinen() %}
  <form method="POST" id="huoltajaform" action="{{url_for('henkilotiedot_linkita_huoltaja')}}">
  <input type="hidden" name="lapsiid" id="lapsiid" />
    <div class="modal fade" id="huoltajamodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Lisää huoltaja</h5>
          </div>
          <div class="modal-body">
            <p>Lisää huollettavallesi <span id="lapsinimi" class="font-weight-bold"></span> itsesi lisäksi toinen huoltaja. Lisättävän huoltajan pitää
              olla rekisteröitynyt palveluun.</p>
              <label for="huoltaja">Lisättävän huoltajan sähköpostiosoite</label>
              <input type=email name=huoltaja class="form-control"  id="huoltaja" required></input>
              <div id="huoltajavirhe" class="text-danger"></div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" onclick="$('#huoltajamodal').modal('hide')">Peruuta</button>
              <button type="submit" class="btn btn-primary" id="huoltajanappi">Lisää huoltaja</button>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endif %}

{%macro henkilotiedot(henkilo) -%}

  {% if current_user.aikuinen() %}
    <a href="{{url_for('henkilotiedot_muokkaus', henkilo_id=henkilo.id)}}" class="btn btn-outline-primary float-right"><i class="fas fa-user-edit"></i> Muokkaa tietoja</a>
    {% if henkilo is eq(current_user) %}
      <a href="{{url_for('henkilotiedot_uusi_huollettava')}}" class="btn btn-outline-primary float-right"><i class="fas fa-user-plus"></i> Lisää huollettava</a>
    {% else %}
      <button class="btn btn-outline-primary float-right" onclick="lisaahuoltaja('{{henkilo.id}}','{{henkilo.etunimi}} {{henkilo.sukunimi}}')"><i class="fas fa-link"></i>Lisää huoltaja</button>
    {% endif %}
  {% endif %}
  {% if henkilo.email %}
    <button type="button" class="btn btn-outline-primary float-right" onclick="salasananvaihto('{{henkilo.id}}','{{henkilo.etunimi}} {{henkilo.sukunimi}}','{{henkilo.email}}')">
      <i class="fas fa-key"></i> Vaihda salasana
    </button>
  {% endif %}


  {% if henkilo is eq(current_user) %}
  <h2>Henkilötietoni</h2>
  {% else %}
  <h2>{{henkilo.etunimi}} {{henkilo.sukunimi}}</h2>
  {% endif %}

  <table class="table table-borderless table-sm">
    <tr>
      <td width=30%>Syntynyt</td>
      <td>{{henkilo.syntymaaika|pvm}}</td>
    </tr>
    <tr>
      <td>Puhelinnumero</td>
      <td>{{henkilo.puhelin}}</td>
    </tr>
    <tr>
      <td>Sähköposti</td>
      <td>{{henkilo.email}}</td>
    </tr>
    <tr>
      <td>Huomioon otettavaa</td>
      <td>{{henkilo.varotieto}}</td>
    </tr>
    <tr>
      <td>Yhdistyksen jäsenyys</td>
      <td>
        {% if henkilo.jasenyysAlkoi and not henkilo.jasenyysPaattyi %}
          Jäsen
        {% else %}
          Ei ole jäsen
        {% endif %}
      </td>
    </table>
{% endmacro %}


{{ henkilotiedot(current_user)}}

{% for lapsi in current_user.huollettavat %}
 {% if not lapsi.aikuinen() %}
 <hr/>
  {{ henkilotiedot(lapsi)}}
  Huoltajat
  <ul>
   {% for huoltaja in lapsi.huoltajat %}
    <li>{{huoltaja.etunimi}} {{huoltaja.sukunimi}}</li>
   {% endfor %}
  </ul>
  {% endif %}
{% endfor %}

{% endblock %}

{% block script %}

<!-- Salasanadialogin näyttäminen, salasanojen validoiminen sekä
     sen määritteleminen, kenen salasanaa milloinkin ollaan vaihtamassa.

    Huoltajan lisäämisen dialogin näyttäminen
  -->

<script type="text/javascript">
  $( function() {
    function validoi() {
      $("#nappi").prop("disabled", true)
      if($("#eka").val().length < 6)
        $("#viesti").text("Salasanan pitää olla vähintään 6 merkkiä pitkä.")
      else if( $("#eka").val() !== $("#toka").val() )
        $("#viesti").text("Salasanat eivät täsmää")
      else {
        $("#nappi").prop("disabled", false)
        $("#viesti").text("")
      }
    }

    $("#eka").keyup( validoi )
    $("#toka").keyup( validoi )

    {% if huoltajavirhe %}

      lisaahuoltaja("{{huoltajavirhe.lapsi.id}}", "{{huoltajavirhe.lapsi.etunimi}} {{huoltajavirhe.lapsi.sukunimi}}")
      $("#huoltaja").prop("value","{{huoltajavirhe.huoltaja}}")
      $("#huoltajavirhe").text("{{huoltajavirhe.virhe}}")

    {% endif %}

  })

  function salasananvaihto(id,nimi,email) {
    $("#eka").val("")
    $("#toka").val("")

    $("#salaid").prop("value",id)
    $("#salanimi").text(nimi)
    $("#salauser").prop("value",email)

    $("#viesti").val("")
    $("#salamodal").modal("show")
  }

  function lisaahuoltaja(id,nimi) {
    $("#lapsiid").prop("value",id)
    $("#lapsinimi").text(nimi)
    $("#huoltaja").prop("value","")
    $("#huoltajavirhe").text("")
    $("#huoltajamodal").modal("show")
  }
</script>

{% endblock %}
