{% extends "ryhmat/layout.html" %}

{% block intab %}

<div class="float-right">
<form action="{{url_for('ryhmat_erota_jasen',ryhmassa_id=jasenyys.id)}}" method="POST">
    <button type="submit" class="btn btn-outline-danger btn-sm">
      <i class="fas fa-unlink"></i> Erota ryhmästä
    </button>
</form>
</div>


<h2>{{jasenyys.jasen.sukunimi}} {{jasenyys.jasen.etunimi}} </h2>


<table class="table table-borderless table-sm">
  <tr>
    <td width="30%">Liittyi ryhmään</td>
    <td>{{jasenyys.alkaen|pvm}}</td>
  </tr>
  <tr>
    <td>Puhelinnumero</td>
    <td>{{jasenyys.jasen.puhelin}}</td>
  </tr>
  <tr>
    <td>Sähköposti</td>
    <td>{{jasenyys.jasen.email}}</td>
  </tr>
  <tr>
    <td>Huomioon otettavaa</td>
    <td>{{jasenyys.jasen.varotieto}}</td>
  </tr>
  <tr>
    <td>Yhdistyksen jäsenyys</td>
    <td>
      {% if jasenyys.jasen.jasenyysAlkoi and not jasenyys.jasen.jasenyysPaattyi %}
        Jäsen
      {% else %}
        Ei ole jäsen
      {% endif %}
    </td>
</table>

{% if not jasenyys.jasen.aikuinen %}
  <h4>Huoltajat</h4>

  {% for huoltaja in jasenyys.jasen.huoltajat %}
    <table class="table table-borderless table-sm">
      <tr>
        <td width=30%>Nimi</td>
        <td>{{huoltaja.sukunimi}} {{huoltaja.etunimi}}</td>
      </tr>
      <tr>
        <td>Puhelinnumero</td>
        <td>{{huoltaja.puhelin}}</td>
      </tr>
      <tr>
        <td>Sähköposti</td>
        <td>{{huoltaja.email}}</td>
      </tr>
      <tr>
        <td>Yhdistyksen jäsenyys</td>
        <td>
          {% if huoltaja.jasenyysAlkoi and not huoltaja.jasenyysPaattyi %}
            Jäsen
          {% else %}
            Ei ole jäsen
          {% endif %}
        </td>
    </table>
  {% endfor %}
{% endif %}


{% endblock %}
