{% extends "ryhmat/layout.html" %}
{% block intab %}

<div>
  <form action="{{url_for('ryhmat_linkita_jasen',ryhma_id=ryhma.id)}}" method="post">
    <div class="form-group row" style="margin-top:1ex;">
      <div class="col-sm-6">
        <select class="chosen-select" data-placeholder="Valitse lisättävä jäsen" name="linkita">
          <option></option>
          {% for henkilo in eiryhmassa %}
          <option value="{{ henkilo.id }}">
            {{ henkilo.sukunimi }} {{ henkilo.etunimi }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-outline-primary btn-sm">
          <i class="fas fa-link"></i> Lisää ryhmään
        </button>
        <button type="submit" formaction="{{ url_for('ryhmat_linkita_ohjaaja', ryhma_id=ryhma.id) }}" class="btn btn-outline-primary btn-sm">
          Lisää ohjaajaksi
        </button>
      </div>
    </div>
  </form>
</div>

{% macro jasenyys_tiedot(jasenyys) -%}
<form action="{{url_for('ryhmat_erota_jasen',ryhmassa_id=jasenyys.id)}}" method="POST">
  <li><a href="{{url_for('ryhmat_jasen_tiedot', ryhmassa_id=jasenyys.id)}}"> {{jasenyys.jasen.sukunimi}} {{jasenyys.jasen.etunimi}}</a>
    {% if jasenyys.jasen.varotieto %}
      <a tabindex="0" class="btn btn-lg btn-warning btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="{{jasenyys.jasen.etunimi}} {{jasenyys.jasen.sukunimi}}" data-content="{{jasenyys.jasen.varotieto}}">
        <i class="fas fa-exclamation-triangle"></i>
      </a>
    {% endif %}
    <button type="submit" class="btn btn-outline-danger btn-sm">
      <i class="fas fa-unlink"></i> Erota ryhmästä
    </button>
  </li>
</form>
{% endmacro %}


<h2>Ohjaajat</h2>
<ol>
  {% for jasenyys in jasenyydet %}
    {% if jasenyys.ohjaaja %}
      {{ jasenyys_tiedot(jasenyys) }}
    {% endif %}
  {% endfor %}
</ol>


<h2>Jäsenet</h2>
<ol>
  {% for jasenyys in jasenyydet %}
    {% if not jasenyys.ohjaaja %}
      {{ jasenyys_tiedot(jasenyys) }}
    {% endif %}
  {% endfor %}
</ol>


{% endblock %}
{% block script %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
      })
  })
</script>
{% endblock %}
