{% extends "ryhmat/layout.html" %}
{% block intab %}

<div>
  <form method="post">
    <div class="form-group row" style="margin-top:1ex;">
      <div class="col-sm-6">
        <select class="chosen-select" data-placeholder="Valitse lisättävä jäsen" name="linkita">
          <option></option>
          {% for henkilo in eiryhmassa %}
          <option value="{{ henkilo.id }}">
            {{ henkilo.sukunimi }} {{ henkilo.etunimi }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-6">
        <button type="submit" formaction="{{url_for('ryhmat_linkita_jasen',ryhma_id=ryhma.id)}}"  class="btn btn-outline-primary btn-sm">
          <i class="fas fa-link"></i> Lisää ryhmään
        </button>
        <button type="submit" formaction="{{ url_for('ryhmat_linkita_ohjaaja', ryhma_id=ryhma.id) }}" class="btn btn-outline-primary btn-sm">
          Lisää ohjaajaksi
        </button>
      </div>
    </div>
  </form>
</div>

{% macro jasen_tiedot(otsikko,jasenet) -%}
  <h2>{{otsikko}}</h2>
  <ol>
    {% for jasen in jasenet %}
      <li><a href="{{url_for('ryhmat_jasen_tiedot', ryhmassa_id=jasen.ryhmassaId)}}"> {{jasen.sukunimi}} {{jasen.etunimi}} </a>
        {% if jasen.varotieto %}
          <a tabindex="0" class="btn btn-lg btn-warning btn-sm" role="button" data-toggle="popover" data-trigger="focus" title="{{jasen.etunimi}} {{jasen.sukunimi}}" data-content="{{jasen.varotieto}}">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
{% endmacro %}

{{ jasen_tiedot("Ohjaajat", jasenet|selectattr("ohjaaja","eq",True)) }}
{{ jasen_tiedot("Jäsenet", jasenet|selectattr("ohjaaja","eq",False)) }}


{% endblock %}
{% block script %}
<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
        placement : 'top',
        trigger : 'hover'
      })
  })
</script>
{% endblock %}
