{% extends "ryhmat/layout.html" %} {% block intab %}

<div>
  <form action="{{url_for('ryhmat_linkita_jasen',ryhma_id=ryhma.id)}}" method="post">
    <div class="form-group row" style="margin-top:1ex;">
      <div class="col-sm-6">
        <select class="chosen-select" data-placeholder="Valitse lisättävä jäsen" name="linkita">
          <option></option>
          {% for henkilo in eiryhmassa %}
          <option value="{{ henkilo.id }}">
            {{ henkilo.sukunimi }} {{ henkilo.etunimi }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-outline-primary btn-sm">
          <i class="fas fa-link"></i> Lisää ryhmään
        </button>
        <button type="submit" formaction="{{ url_for('ryhmat_linkita_ohjaaja', ryhma_id=ryhma.id) }}" class="btn btn-outline-primary btn-sm">
          Lisää ohjaajaksi
        </button>
      </div>
    </div>
  </form>
</div>

<h2>Ohjaajat</h2>
<ol>
  {% for jasenyys in jasenyydet %}
    {% if jasenyys.ohjaaja %}
    <form action="{{url_for('ryhmat_erota_jasen',ryhmassa_id=jasenyys.id)}}" method="POST">
      <li><a href="{{url_for('ryhmat_jasen_tiedot', ryhmassa_id=jasenyys.id)}}"> {{jasenyys.jasen.sukunimi}} {{jasenyys.jasen.etunimi}}</a>
        <button type="submit" class="btn btn-outline-danger btn-sm">
          <i class="fas fa-unlink"></i> Erota ryhmästä
        </button>
      </li>
    </form>
    {% endif %}
  {% endfor %}
</ol>


<h2>Jäsenet</h2>
<ol>
  {% for jasenyys in jasenyydet %}
    {% if not jasenyys.ohjaaja %}
    <form action="{{url_for('ryhmat_erota_jasen',ryhmassa_id=jasenyys.id)}}" method="POST">
        <li><a href="{{url_for('ryhmat_jasen_tiedot', ryhmassa_id=jasenyys.id)}}"> {{jasenyys.jasen.sukunimi}} {{jasenyys.jasen.etunimi}}</a>
          <button type="submit" class="btn btn-outline-danger btn-sm">
            <i class="fas fa-unlink"></i> Erota ryhmästä
          </button>
        </li>
      </form>
    {% endif %}
  {% endfor %}
</ol>


{% endblock %}
