 {% extends "ryhmat/layout.html" %}
 {% block intab %}

<a href="{{ url_for('ryhmat_kokoukset_uusisarja', ryhma_id=ryhma.id) }}" class="btn btn-outline-primary float-right">
  <i class="far fa-calendar-plus"></i> Lisää kokoussarja
</a>
<a href="{{ url_for('ryhmat_kokoukset_uusi', ryhma_id=ryhma.id) }}" class="btn btn-outline-primary float-right">
  <i class="fas fa-plus"></i> Lisää kokous
</a>


<h2>Tulevat kokoukset</h2>

 {{ linkit|safe }}

<table class="table table-sm table-borderless table-striped">
  <thead  class="thead-light">
    <tr>
      <th>Ajankohta</th>
      <th>Paikka</th>
      <th>Kuvaus</th>
      <th></th>
    <tr>
  </thead>
  <tbody>
    {% for kokous in kokoukset %}
      <tr>
        <td>{{kokous.alkaa|pvmaika}}</td>
        <td>{{kokous.sijainti}}</td>
        <td>{{kokous.kuvaus}}</td>
        <td>
          <form>
          <a title="Muokkaa kokousta" href="{{url_for('ryhmat_kokoukset_muokkaa', kokous_id=kokous.id)}}" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a>
          <button type="submit"  title="Poista kokous" formmethod="post" formaction="{{url_for('ryhmat_poista_kokous', kokous_id=kokous.id)}}"  class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt"></i></button></form>
        </td>
      </tr>
    {% endfor %}
 </tbody>
</table>


{% endblock %}
