{% extends "layout.html" %}

{% block body %}


<a href="{{ url_for('ryhmat_uusi') }}" class="btn btn-outline-primary float-right"><i class="fas fa-plus"></i> Lisää ryhmä</a>
<h2>Ryhmät</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if  request.args.to_dict()|length == 0 %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="{{ url_for('ryhmat_index')}}">
    {% endif %}
      Kaikki
    </a>
  </li>

  <li class="nav-item">
    {% if "aktiiviset" in request.args.keys() %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="?aktiiviset">
    {% endif %}
      Aktiiviset
    </a>
  </li>

  <li class="nav-item">
    {% if "paattyneet" in request.args.keys() %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="?paattyneet">
    {% endif %}
      Päättyneet
    </a>
  </li>
</ul>

<table class="table table-sm table-borderless table-striped">
  <thead>
    <tr>
      <th>Ryhmän nimi</th>
      <th>Ikäraja</th>
      <th>Ilmoittautuminen</th>
      <th>Jäseniä / paikkoja</th>
    </tr>
  </thead>
  <tbody>
    {% for ryhma in ryhmat %}
    <tr>
      <td>
        <a href="{{ url_for('ryhmat_tiedot', ryhma_id=ryhma.id)}}">
          {{ ryhma.nimi }}
        </a>
      </td>
      <td>
        {{ ryhma.ikavahintaan }} &ndash; {{ ryhma.ikaenintaan }} v.
      </td>
      <td>
        {% if ryhma.ilmoittautuminenalkaa %}
          {{ ryhma.ilmoittautuminenalkaa|pvm }} &ndash; {{ryhma.ilmoittautuminenpaattyy|pvm}}
        {% endif %}
      </td>
      <td>
        {{ ryhma.ilmoittautuneita or 0}} / {{ryhma.paikkoja}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
