{% extends "ryhmat/layout.html" %}
{% block intab %}


<h2>Menneet kokoukset</h2>
<table class="table table-sm table-borderless table-striped">
 <thead>
   <tr>
     <td>Ajankohta</td>
    <td>Läsnä</td>
     <td>Paikka</td>
     <td>Kuvaus</td>
   <tr>
 </thead>
 <tbody>
   {% for kokous in ryhma.menneetKokoukset() %}
     <tr>
       <td>{{kokous.alkaa|pvmaika}} </td>
       <td>{{kokous.lasna|int}}</td>
       <td>{{kokous.sijainti}}</td>
       <td>{{kokous.kuvaus}}</td>
     </tr>
   {% endfor %}
</tbody>
</table>


{% endblock %}
