{% extends "ryhmat/layout.html" %}
{% block intab %}


<h2>Menneet kokoukset</h2>

{{ linkit|safe }}

<table class="table table-sm table-borderless table-striped">
 <thead class="thead-light">
   <tr>
     <th>Ajankohta</th>
     <th>Läsnä</th>
     <th>Paikka</th>
     <th>Kuvaus</th>
     <th></th>
   <tr>
 </thead>
 <tbody>
   {% for kokous in menneet %}
     <tr>
       <td>{{kokous.alkaa|pvmaika}} </td>
       <td>{{kokous.lasna|int}}</td>
       <td>{{kokous.sijainti}}</td>
       <td>{{kokous.kuvaus}}</td>
       <td>
           <a href="{{url_for('ryhmat_menneet_muokkaa', kokous_id=kokous.id)}}" title="Merkitse läsnäolleet" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a>
       </td>
     </tr>
   {% endfor %}
</tbody>
</table>


{% endblock %}
