{% extends "ryhmat/layout.html" %} {% block intab %}

<div>
  <form action="{{url_for('ryhmat_linkita_ohjaaja',ryhma_id=ryhma.id)}}" method="post">
    <div class="form-group row" style="margin-top:1ex;">
      <div class="col-sm-6">
        <select class="chosen-select" data-placeholder="Valitse ohjaaja" name="linkita">
          <option></option>
          {% for aikuinen in aikuiset %}
          <option value="{{ aikuinen.id }}">
            {{ aikuinen.sukunimi }} {{ aikuinen.etunimi }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-6">
        <button type="submit" class="btn btn-outline-primary btn-sm">
          <i class="fas fa-link"></i> Lisää ohjaajaksi
        </button>
      </div>
    </div>
  </form>
</div>

<h2>Ohjaajat</h2>

<ul>
  {% for ohjaaja in ryhma.ohjaajat() %}
  <li> {{ohjaaja.sukunimi}} {{ohjaaja.etunimi}} </li>
  {% endfor %}
</ul>

{% endblock %}
