{% extends "layout.html" %}

{% block body %}

<h2>{{ ryhma.nimi}}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    {% if "tiedot" in request.path %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="tiedot">
    {% endif %}
      Tiedot
    </a>
  </li>

  <li class="nav-item">
    {% if "ohjaajat" in request.path %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="ohjaajat">
    {% endif %}
      Ohjaajat
    </a>
  </li>

  <li class="nav-item">
    {% if "jasenet" in request.path %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="jasenet">
    {% endif %}
      Jäsenet
    </a>
  </li>

  <li class="nav-item">
    {% if "kokoukset" in request.path %}
    <a class="nav-link active" href="#">
    {% else %}
    <a class="nav-link" href="kokoukset">
    {% endif %}
      Kokoukset
    </a>
  </li>

</ul>

{% block intab %}

{% endblock %}

{% endblock %}
