{% extends "auth/layout.html" %}

{% block body %}

<div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Tervetuloa!</div>
                    <div class="card-body">
                        <form action="{{url_for('auth_login')}}" method="POST">
                          <p class="text-danger">
                            {{ virhe }}
                          </p>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Sähkö&shy;posti&shy;osoite</label>
                                <div class="col-md-6">
                                    <input type="email" id="email" class="form-control" name="email" value="{{email}}" required autofocus maxlength="64">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="salasana" class="col-md-4 col-form-label text-md-right">Salasana</label>
                                <div class="col-md-6">
                                    <input type="password" id="salasana" class="form-control" name="salasana"  maxlength="64" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fas fa-sign-in-alt"></i> Kirjaudu
                                </button>
                            </div>
                            <hr>
                            <p>Ellei sinulla vielä ole Paikalla-palvelun tunnusta, ole hyvä ja rekisteröidy ensin.</p>
                            <p>Lapsen ilmoittautumiset tekee lapsen huoltaja, jonka on ensin rekisteröidyttävä palveluun.</p>
                            <p>Ota kaikissa ongelmatapauksissa yhteyttä jäsenrekisterin hoitajaan.</p>
                            <div class="col-md-6 offset-md-4">
                                <a href="{{url_for("auth_uusikayttaja")}}" class="btn btn-success">
                                    <i class="fas fa-user-plus"></i> Rekisteröidy
                                </a>
                            </div>

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>

{% endblock %}
